/* Utility Classes*/
.animate {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animate--infinite {
  animation-iteration-count: infinite;
}

.animate--delay-1s {
  animation-delay: 1s;
}

.animate--fast {
  animation-duration: 0.6s;
}

.animate--slow {
  animation-duration: 3s;
}

.section {
  height: 100dvh;
  margin-bottom: 24px;
}

.container {
  text-align: center;
  width: 30vw;
  height: 60vh;
  margin: 0 auto;
  background-color: var(--clr-accent);
}

/* Animations */
/* css-animations-properties 
1 -- animation-name
2 -- animation-duration
3 -- animation-timing-function
4 -- animation-delay
5 -- animation-iteration-count
6 -- animation-direction
7 -- animation-fill-mode
8 -- animation-play-state
*/
@keyframes slideInLeft {
  from {
    transform: translateX(-300px);
  }

  to {
    transform: translateX(0);
  }
}

.slideInLeft {
  animation-name: slideInLeft;
  animation-timing-function: ease-in;
}

@keyframes slideInRight {
  from {
    transform: translateX(300px);
    opacity: 0;
  }

  to {
    transform: translate(0);
    opacity: 1;
  }
}

.slideInRight {
  animation-name: slideInRight;
  animation-timing-function: ease-out;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

.rotate {
  margin-top: 20%;
  animation-name: rotate;
  animation-timing-function: linear;

  transform-origin: center;
}

@keyframes bounce {
  0%,
  50%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.bounce {
  animation-name: bounce;
}

@keyframes appears {
  from {
    opacity: 0;
    scale: 0.5;
    /* clip-path: inset(100% 100% 0 0); */
  }

  to {
    opacity: 1;
    scale: 1;
    /* clip-path: inset(0 0 0 0); */
  }
}

.appears {
  animation: appears linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}
